$posicion: center;

/* NOSOTROS */

.texto-nosotros{
    font-size: 30px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-style: italic;
    text-align: $posicion;
}
/* NOSOTROS */