$color1: #fff;
$color2: #000000;

$posicion: center;

$px0: 0px;

/* TIENDAS */
.titulo-tiendas {
    display: flex;
    justify-content: $posicion;
    background-color: $color2;
    color: $color1;
    padding: 35px;
    margin: $px0;
    font-size: 35px;
    border: 3px solid $color1;
}


.contenedor {

    h2 {
        display: flex;
        justify-content: $posicion;
        background-color: $color2;
        color: $color1;
        padding: 35px;
        margin: $px0;
        font-size: 20px;
        border: 3px solid $color1;
        border-top: $px0;
    }

    .mapa {
        text-align: $posicion;
    }


}



/* TIENDAS */