
/* HEADER */
.logo{
    max-width: 100%; 
}

.nav-link{
    color: white !important;
    margin-right: 15px;
}

.navbar-nav a:hover{
    color: grey !important;
} 
/* HEADER */

/* INDEX */
.titulo-principal{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: #fff;
    padding: 55px;
    margin: 0px;
    font-size: 55px;
    border:3px solid white;
    border-bottom: 0px;
}

.video{
    width: 100%;
    height: 100%;
    margin: 0px;
    border: 3px solid white;
    border-bottom: 0px;
}

.titulo-destacado{
    display: flex;
    justify-content: center;
    background-color: black;
    color: #fff;
    padding: 35px;
    margin: 0px;
    font-size: 55px;
    border:0px solid white;
    border-top: 0px;

}

.container-cards{
    display: flex;
}

.card p{
    text-align: center;
    margin: 10px;
    padding: 15px;
    font-size: 30px;
}

.card a{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    padding: 15px;
}

.card a:hover{
    color: rgb(106, 96, 96);
}
/* INDEX */

/* PRODUCTOS */
.titulo-productos{
        display: flex;
        justify-content: center;
        background-color: black;
        color: #fff;
        padding: 35px;
        margin: 0px;
        font-size: 35px;
        border:3px solid white;
}
/* PRODUCTOS */

/* TIENDAS */
.titulo-tiendas{
    display: flex;
    justify-content: center;
    background-color: black;
    color: #fff;
    padding: 35px;
    margin: 0px;
    font-size: 35px;
    border:3px solid white;
}


.contenedor h3{
    display: flex;
    justify-content: center;
    background-color: black;
    color: #fff;
    padding: 35px;
    margin: 0px;
    font-size: 20px;
    border:3px solid white;
    border-top: 0px;
}

.mapa{
    text-align: center;
}
/* TIENDAS */

/* NOSOTROS */
.nosotros{
    text-transform: uppercase;
    border: 10px solid rgb(255, 255, 255);
    font-size: 25px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-shadow: 0px 0px 3px rgb(0, 0, 0) ;
}

.img-nosotros{
    width: 100%;
    height: 100%;
    margin: 0px;
    border: 10px solid white;
}
/* NOSOTROS */

/* CONTACTO */
.titulo-contacto{
    display: flex;
    justify-content: center;
    background-color: black;
    color: #fff;
    padding: 35px;
    margin: 0px;
    font-size: 22px;
    border:3px solid white;
    text-transform: uppercase;
}

form{
    width: 100%;
    height:100%;
    padding: 5%;
}

form input{
    width: 100%;
    font-size: 25px;
    background-color: transparent;
    border:none;
    border-bottom: 4px solid black
}

form input::placeholder{
    color: rgba(0, 0, 0, 0.712);
}

form textarea{
    width: 100%;
    font-size: 25px;
    background-color: transparent;
    border: none;
    border-bottom: 4px solid black
}

form textarea::placeholder{
    color: rgba(0, 0, 0, 0.712);
}

form #enviar{
    font-size: 25px;
    background-color: rgb(255, 255, 255);
    border: 4px solid black;
    padding: 10px;
}

form #enviar:hover{
background-color: #000000; 
color: #fff;
}
/* CONTACTO */

/* FOOTER */
footer{
    background-color: #000;
    text-align: center;
    color: #fff;
    font-size: 10px;
    padding: 50px;
}
footer a{
    color:#fff;
    font-size: 50px;
    letter-spacing: 15px;
    text-decoration: none;
}

footer a:hover{
    color: #615858;
}
/* FOOTER */

/* MEDIA QUERIES  */
@media screen and (min-width: 876px) {
.logo {
    max-width: 400px; 
}
}

@media screen and (min-width: 1000px) {
    .nav-link {
    font-size: 23px;
    }
    }


@media screen and (max-width: 545px) {
    .container-cards {
    display: grid;
}
}



@media screen and (min-width:655px) and (max-width: 776px) {
    .titulo-principal {
    font-size: 45px;
}
    .titulo-destacado {
    font-size: 35px;
}
}

@media screen and (max-width: 655px) {
    .titulo-principal {
    font-size: 35px;
}
    .titulo-destacado {
    font-size: 35px;
}
}

@media screen and (max-width: 580px) {
    .nosotros{
        font-size: 15px;
    }
}
/* MEDIA QUERIES  */



